<div id="sidebar-container" class="bg-primary">
    <div class="logo text-light fw-bold">
        VETadmin
    </div>

    <div class="menu">
        <a href="/" class="d-block p-3 text-light fw-bold"><i class="fa-solid fa-house lead"></i> Inicio</a>
        <a href="clientes.html" class="d-block p-3 text-light fw-bold"><i class="fa-solid fa-users lead"></i> Clientes</a>
        <a href="#" class="d-block p-3 text-light fw-bold"><i class="fa-solid fa-hand-holding-medical lead"></i> Consultas</a>
        <a href="#" class="d-block p-3 text-light fw-bold"><i class="fa-solid fa-capsules lead"></i> Farmacias</a>
    </div>
</div>